body{
    color: #333333;
}
.hexToRGBcontainer, .rgbToHexContainer{
    position: relative;
    width: 80%;
    margin: auto;
}
#hexValue, #rgbValue {
    width: 50%;
    display: inline-block;
}
.hexResults, .rgbResult{
    margin-top: 10px;
    color: #fff;
}